<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>자원효율성 통합시스템 | Dashboard for managing recyclable products</title>
      
      <!-- Favicon -->
    
 <link rel="stylesheet" href="../products.css" />
  <link rel="stylesheet" href="../parts.css" />
 <link rel="stylesheet" href="../addbtn.css" />
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="../backend.css" />
      <link rel="stylesheet" href="../backend-plugin.min.css">
       <link rel="stylesheet" href="../all.min.css">
      <link rel="stylesheet" href="../line-awesome.min.css">
      <link rel="stylesheet" href="../remixicon.css">
           <link rel="stylesheet" href="../substances.css">
         <style>
              @media only screen and (max-width: 1599px ) {
  .table-wrapper {
    height: 35em;
  }
}
              @media only screen and (min-width: 1650px ) {
  .table-wrapper {
    height: 50em;
  } }
      </style>
        <!-- <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js"></script>
   
    <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-auth.js" defer ></script> -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-firestore.js"></script>
  
      </head>
  <body class="" style="overflow-y: hidden;">
    <!-- loader Start -->
   
    <!-- loader END -->
    <!-- Wrapper Start -->
      <div class="sidebar" style="background: #023047;">
    <div class="logo-details">
     
        <div class="logo_name">Kitech</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
  
      <li>
        <a  href="./dashboard">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">대시보드</span>
        </a>
         <span class="tooltip">대시보드</span>
      </li>
    
      <li>
       <a  href="./listofproducts" >
       
              <i class='bx bxs-cube-alt'></i>
         <span class="links_name">제품목록</span>
       </a>
       <span class="tooltip">제품목록</span>
     </li>
 
       <li>
       <a  href="./parts" >
 <i class='bx bxs-component' ></i>
         <span class="links_name">부품목록</span>
       </a>
       <span class="tooltip">부품목록</span>
     </li>
        <li>
       <a  href="./materials" >
 <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">소재목록</span>
       </a>
       <span class="tooltip">소재목록</span>
     </li>
     <li>
       <a  href="./substances" >
  <i class='bx bx-dna' ></i>
         <span class="links_name">물질목록</span>
       </a>
       <span class="tooltip">물질목록</span>
     </li>

       <li>
       <a  href="./listofusers" >
         <i class='bx bx-user'></i>
         <span class="links_name">사용자 목록</span>
       </a>
       <span class="tooltip">사용자 목록</span>
     </li>

           <li>
       <a  href="#" >
       <i class="bx bx-bell"></i>
         <span class="links_name">공지사항</span>
       </a>
       <span class="tooltip">공지사항</span>
     </li>
       <li>
     <a  href="#">
       <i class="ri-question-line"></i>
         <span class="links_name">자주 묻는 질문</span>
       </a>
       <span class="tooltip">자주 묻는 질문</span>
     </li>
   
    
     <li class="profile" style="margin-bottom: 30px; background: #023047;">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Logout</div>
             <div class="job">2022 - 2023</div>
               
           </div>
         </div>
        <a href="/sessionLogout"  > <i style="background: #023047;" class='bx bx-log-out' id="log_out" ></i> </a>
       
     </li>
    </ul>
  </div>
    
    
  <section class="home-section">
        
<div class="content-page">
     <div class="container-fluid">
           <div class="iq-top-navbar" style="box-shadow: 0 16px 15px 0 rgb(34 36 48 / 8%)">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
            
               
              
                  <div class="d-flex align-items-center">
                    
                  <div class="userroledisplay " >
                         <div class="card-body">
                  
                      <!-- <button type="button" class="btn mb-1 bg-primary-light">
                      Product Manufacturer
                      </button> -->
                      
                      <button type="button" class="btn mb-1" style="background: #023047; color: white;">
                      관리자
                      </button>
                      
                      <!-- <button type="button" class="btn mb-1 bg-danger-light">
                      Notifications <span class="badge badge-danger ml-2">4</span>
                      </button> -->
                  </div>
                  </div>
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-label="Toggle navigation">
                          <i class="ri-menu-3-line"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">
                             
                              <li class="nav-item nav-icon search-content">
                                  <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                      <i class="ri-search-line"></i>
                                  </a>
                                  <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                      <form action="#" class="searchbox p-2">
                                          <div class="form-group mb-0 position-relative">
                                              <input type="text" class="text search-input font-size-12"
                                                  placeholder="type here to search...">
                                              <a href="#" class="search-link"><i class="las la-search"></i></a>
                                          </div>
                                      </form>
                                  </div>
                              </li>
                              <li class="nav-item nav-icon dropdown caption-content">
                                  <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="../1.png" class="img-fluid rounded" alt="user">
                                  </a>
                                  <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <div class="card shadow-none m-0">
                                          <div class="card-body p-0 text-center">
                                              <div class="media-body profile-detail text-center">
                                                  <img src="../profile-bg.jpg" alt="profile-bg"
                                                      class="rounded-top img-fluid mb-4">
                                                  <img src="../1.png" alt="profile-img"
                                                      class="rounded profile-img img-fluid avatar-70">
                                              </div>
                                              <div class="p-3" >
                                                   <div class="mb-1">
                                                    <h5 class="mb-1 " id="usertitle" ></h5>
                                                    <h5 class="mb-1 " id="useremailcard" ></h5>
                                                </div>
                                                  
                                                  <p class="mb-0">계정 생성일: 2022/08/02</p>
                                                  <div class="d-flex align-items-center justify-content-center mt-3">
                                                      <a href="./userprofile" class="btn border mr-2">내 계정</a>
                                                      <a href="/sessionLogout" class="btn border">로그아웃</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
    
<div class="content-page" style="padding: 98px 5px 0;">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3" style="color: black;font-weight: 600; font-size: 25px;">물질목록</h4>
                    </div>
                    <button class="btnpr btnpr-add adminelement" style="display: none;"><div class="addnewproductbtnpr">신규 제품 등록</div></button>
                </div>
            </div>

            

<div class="col-lg-12">
  <div class="row justify-content-end mb-3">
                              <div class="col-2">
                        
                              </div>
                              <div class="col-2">
                            
                              </div><div class="col-8">
                                <div class="row" style="
    justify-content: end;
    gap: 4%;
">
                                    <div class="" id="formfloat">
                      <div class="input-group mb-3">
                      
                        <select class="custom-select sortSubsSelection" id="inputGroupSelect03">
                           <option value="6" selected="">Choose...</option>
                           <option value="0">Sort by Substance Name</option>
                           <option value="1">Sorty by CAS number</option>
                        </select>
                           <div class="input-group-append">
                           <span class="input-group-text" id="basic-addon5"><i class="bx bx-sort font-size-20"></i></span>
                        </div>
                     </div>
                     </div>



                      <div class="row" style="width: 27%;">
                        <div class="input-group-prepend" style="width: 60%;/* margin: 0; */">
                           <input type="text" class="form-control" id="myInputSub" style="margin: 0; border-radius: 10px 0 0 10px; height:46px;"  name="myInputSub" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon5">
                        </div>
                        <select class="custom-select searchSubSelection" id="inputGroupSelect03" style="
    width: 10%;
    border-radius: 0;
">
                           <option selected="">Choose...</option>
                           <option value="0">Substance Name</option>
                           <option value="1">CAS Number</option>
                        </select>
                           <div class="input-group-append" style="
    border-radius: 0;
">
                           <span class="input-group-text" id="basic-addon5" style="
    height: 74%;
    border-radius: 0 10px 10px 0;
"><i class="las la-search font-size-20"></i></span>
                        </div>
                     </div>
                                </div>
                              </div>
                           </div>
</div>
            
        <!--Here starts the form-->
        
 <div class="tabledata">
   
    <div class="table-wrapper" style="
    overflow-y: scroll;">
      <table class="table-users" style="position: sticky; top: 0; z-index: 1;">
       <thead>
        
  
            <th>Substance Name </th>
             <th>CAS Number</th>
          <th>CRM</th>
          <th>ROHS </th>
          <th>NONE </th>
       </thead>
      </table>
    <tbody class="table-users">
      <button class="btn btn-light loadMore" style="margin-top: 3%;">Load More</button>
    </tbody>
    </div>
    </div>


  <!--Add modaly second-->
    
    <!-- Add modaly -->
    <div class="add-modaly modaly-wrapper">
      <div class="modaly">
        <div class="modaly-header"><h3>Add New Substance</h3></div>
        <div class="modaly-body">
          <div class="card-body">
                     <div class="">
                                <form id="upload">    
                  <label style="    font-size: 22px;
    color: #676e8a;
    font-weight: 600;
    margin-left: 15px;" >Bulk Selective Materials Upload </label>    
  <div class="input-group">
   
     
  <div class="custom-file" >
   
                           <input type="file" class="filey custom-file-input" id="inputGroupFile04" accept=".json">
                           <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                             
                        </div>
                         <div class="input-group-append">
                           <button class="btn btn-outline-secondary"  type="submit" style="margin: 0;">Upload</button>
                        </div>
                     
                     </div>
    </form>
                        <form class="form"  autocomplete="off"  data-toggle="validator" id="form-wizard1">
                             <ul id="top-tab-list" class="p-0">
                           
                           <li id="personal">
                              <a href="#personal">
                              <i class="ri-user-fill"></i><span>Substance Identification</span>
                              </a>
                           </li>
                       
                        
                        </ul>
                        <!-- fieldsets -->
                     
                        <fieldset id="personal">
                           <div class="form-card text-left">
                               <!-- <div class="row "> 
                             <div class="row error "> 
                                <h3>
                                    해당 데이터를 확인할 권한이 없습니다
                                </h3>
                              </div>
                            </div> -->
                                <div class="row">
                                <div class="col-md-12">
                                </div>  
                                <div class="col-md-7">                      
                                    <div class="form-group">
                                        <label>Substance Name *</label>
                                        <input type="text" class="form-control" id='editpartName' placeholder="Please Enter Substance Name" data-errors="Please Enter Substance Name." name="substanceName" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>CAS Number</label>
                                        <input type="text" class="form-control"  id='cas' placeholder="Please CAS number" data-errors="Please CAS number." name="cas" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>CRM</label>
                                         <input type="text" class="form-control"  id='crm'placeholder="Please Choose Y/N." data-errors="Please Choose Y/N." name="crm" required>
                                      
                                  
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-3"> 
                                    <div class="form-group">
                                        <label>ROHS</label>
                                       <input type="text" class="form-control"  id='rohs'placeholder="Enter Yes or No" data-errors="Enter Yes or No." name="rohs" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                 <div class="col-md-3"> 
                                    <div class="form-group">
                                        <label>Substance Mass (g) *</label>
                                        <input type="number" class="form-control" id='editpartMassg' placeholder="Please Substance Mass (g)." data-errors="Please Substance Mass (g)." name="substanceMassg" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                 <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>Substance Mass (%) *</label>
                                        <input type="number" class="form-control" id='editpartMassPerc'placeholder="Please Substance Mass (%)." data-errors="Please Substance Mass (%)." name="substanceMassPerc" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                
                                <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input type="file" class="form-control image-file" style="height: fit-content;" name="pic" accept="image/*">
                                    </div>
                                </div> -->
                            </div>   
                       
                           </div>
                             
                              <button  id="edit" class="btn btn-primary btn-light  previous action-button-previous float-right mr-3" value="Previous" >Add Substance</button>
                     
                      
                          
                        </fieldset>
                      
                      
                      
                   </form>
                 </div>
            <!-- Modal -->
             </div>
        </div>
      </div>
    </div>

    <!-- Edit modaly -->
    <div class="edit-modaly modaly-wrapper">
      <div class="modaly">
        <div class="modaly-header"><h3 class="editheader"></h3></div>
        <div class="modaly-body">
             <div class="card-body">
                     <div class="">
                                 <form class="form"  autocomplete="off"  data-toggle="validator" id='form-wizard1'>
                      
                                     <ul id="top-tab-list" class="p-0">
                           <li class="active" id="account" >
                              <a href="javascript:void();">
                              <i class="ri-lock-unlock-line"></i><span>Substance</span>
                              </a>
                           </li>
                        
                       
                         
                        </ul>
                        <!-- fieldsets -->
                     <fieldset id="personal">
                           <div class="form-card text-left">
                               <div class="row adminelement" style="display: none;"> 
                             <div class="row error adminelement" style="display: none;"> 
                                <h3>
                                    해당 데이터를 확인할 권한이 없습니다
                                </h3>
                              </div>
                            </div>
                                <div class="row">
                                
                    
                                     
                                <div class="col-md-12">
                                </div>  
                                <div class="col-md-7">                      
                                    <div class="form-group">
                                        <label>Substance Name *</label>
                                        <input type="text" class="form-control" id='editpartName' placeholder="Enter Product Name" data-errors="Please Enter Part Name." name="editsubstanceName" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>CAS Number</label>
                                        <input type="text" class="form-control"  id='cas'placeholder="Enter Part Number" data-errors="Please CAS number." name="editcas" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>CRM</label>
                                         <input type="text" class="form-control"  id='crm'placeholder="Enter Yes or No" data-errors="Please CRM." name="editcrm" required>
                                      
                                  
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-3"> 
                                    <div class="form-group">
                                        <label>ROHS</label>
                                       <input type="text" class="form-control"  id='rohs'placeholder="Enter Yes or No" data-errors="Please ROHS." name="editrohs" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                 <div class="col-md-3"> 
                                    <div class="form-group">
                                        <label>Substance Mass (g) *</label>
                                        <input type="number" class="form-control" id='editpartMassg'placeholder="Please Substance Mass (g) " data-errors="Please Substance Mass (g) " name="editsubstanceMassg" >
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                 <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>Substance Mass (%) *</label>
                                        <input type="number" class="form-control" id='editpartMassPerc'placeholder="Please Substance Mass (%)" data-errors="Please Substance Mass (%)." name="editsubstanceMassPerc" >
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                
                                <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input type="file" class="form-control image-file" style="height: fit-content;" name="pic" accept="image/*">
                                    </div>
                                </div> -->
                            </div>   
                       
                           </div>
                             
                              <button  id="edit" class="btn btn-primary btn-light  previous action-button-previous float-right mr-3" value="Previous" >Edit Substance</button>
                     
                      
                          
                        </fieldset>
                      
                       

                   </form>
                 </div>
            <!-- Modal -->
             </div>
        </div>
      </div>
    </div>



 



  </div>
         <!--Here ends the form-->
          </div>
          </div>
         </div>
        </div>
      </div>
     </div>
    </div>
 </div>
</div>
</div>

     
 <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>

  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-functions.js"></script>
<script  type="module">



        


// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAq2QjImxRXEtRHN-N6u2YEod-wUJMtI1s",
  authDomain: "projectcrm-f4e5f.firebaseapp.com",
  databaseURL: "https://projectcrm-f4e5f-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "projectcrm-f4e5f",
  storageBucket: "projectcrm-f4e5f.appspot.com",
  messagingSenderId: "404890912341",
  appId: "1:404890912341:web:5b129be76ccdfeba8c76dc",
  measurementId: "G-TL8J23TNZE"
};
</script>
 <!-- <script  type="module" src="./auth.js" defer></script> -->

   
    <!-- Backend Bundle JavaScript -->
    <script src="../backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="../table-treeview.js"></script>
 <script  type="module" src="../substances.js" ></script>

     <script    src="../sidemenu.js" ></script>
    <!-- Chart Custom JavaScript -->
    <script src="../customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="../chart-custom.js"></script>
    
    <!-- app JavaScript -->
    <script src="../app.js"></script>
     <!-- <script   type="module" src="./auth.js" ></script> -->
     <script>feather.replace()</script>
  </body>
</html>