<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>자원효율성 통합시스템 | Dashboard for managing recyclable products</title>
      
      <!-- Favicon -->
      
 <link rel="stylesheet" href="./products.css" />
      <link rel="stylesheet" href="./backend.css" />
      <link rel="stylesheet" href="./backend-plugin.min.css">
       <link rel="stylesheet" href="./all.min.css">
      <link rel="stylesheet" href="./line-awesome.min.css">
      <link rel="stylesheet" href="./remixicon.css">
        <!-- <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js"></script>
   
    <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-auth.js" defer ></script> -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-firestore.js"></script>
  
      </head>
  <body class="">
    <!-- loader Start -->
   
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
      
     <div class="iq-sidebar  sidebar-default ">
          <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
              <a href="./dashboard" class="header-logo">
                  <img src="./logo.png" class="img-fluid rounded-normal light-logo" alt="logo"><h5 class="logo-title light-logo ml-3">자원효율성 통합시스템</h5>
              </a>
              <div class="iq-menu-bt-sidebar ml-0">
                  <i class="las la-bars wrapper-menu"></i>
              </div>
          </div>
          <div class="data-scrollbar" data-scroll="1">
              <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                      <li class="">
                          <a href="./dashboard" class="svg-icon">                        
                              <svg  class="svg-icon" id="p-dash1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line>
                              </svg>
                              <span class="ml-4">대시보드</span>
                          </a>
                      </li>
                      <li class=" ">
                          <a href="#product" class="collapsed" data-toggle="collapse" aria-expanded="false">
                               <svg class="svg-icon" id="p-dash16" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                              <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                          </svg>
                              <span class="ml-4">소재 목록 </span>
                              <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                              </svg>
                          </a>
                          <ul id="product" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                              <li class="active">
                                  <a href="./listofproducts">
                                      <i class="las la-minus"></i><span>제품 목록</span>
                                  </a>
                              </li>
                              <li class="">
                                  <a href="#">
                                      <i class="las la-minus"></i><span>
부품 목록
</span>
                                  </a>
                              </li>
                               <li class="">
                                  <a href="#">
                                      <i class="las la-minus"></i><span>재료 목록
</span>
                                  </a>
                              </li>
                               <li class="">
                                  <a href="#">
                                      <i class="las la-minus"></i><span>물질 목록
</span>
                                  </a>
                              </li>
                          </ul>
                      </li>
                      <li class=" ">
                          <a href="#category" class="collapsed" data-toggle="collapse" aria-expanded="false">
                              <svg class="svg-icon" id="p-dash3" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                                  <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                              </svg>
                              <span class="ml-4">물질 목록
</span>
                              <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                              </svg>
                          </a>
                          <ul id="category" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                  <li class="active">
                                          <a href="./listofusers">
                                              <i class="las la-minus"></i><span>사용자 목록
</span>
                                          </a>
                                  </li>
                                  <li class="">
                                          <a href="./userprofile">
                                              <i class="las la-minus"></i><span>사용자 계정
</span>
                                          </a>
                                  </li>
                                    <li class="" >
                                          <a href="./registration" class="adminelement" style="display: none;">
                                              <i class="las la-minus"></i><span>신규 사용자 등록
</span>
                                          </a>
                                  </li>
                          </ul>
                      </li>
                       <li class=" ">
                          <a href="#product" class="collapsed" data-toggle="collapse" aria-expanded="false">
                              <svg class="svg-icon" id="p-dash9" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><rect x="7" y="7" width="3" height="9"></rect><rect x="14" y="7" width="3" height="5"></rect>
                              </svg>
                              <span class="ml-4">알아채다 </span>
                              <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                              </svg>
                          </a>
                         
                      </li>
                      
                          </ul>
                      </li>
                  </ul>
              </nav>
         
              <div class="p-3"></div>
          </div>
          </div>      <div class="iq-top-navbar">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                      <i class="ri-menu-line wrapper-menu"></i>
                      <a href="./dashboard" class="header-logo">
                          <img src="./logo.png" class="img-fluid rounded-normal" alt="logo">
                          <h5 class="logo-title ml-3">자원효율성 통합시스템</h5>
      
                      </a>
                  </div>
                  <div class="iq-search-bar device-search">
                      <form action="#" class="searchbox">
                          <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                          <input type="text" class="text search-input" placeholder="찾아보기...">
                      </form>
                  </div>
                  <div class="d-flex align-items-center">
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-label="Toggle navigation">
                          <i class="ri-menu-3-line"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">
                             
                              <li class="nav-item nav-icon search-content">
                                  <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                      <i class="ri-search-line"></i>
                                  </a>
                                  <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                      <form action="#" class="searchbox p-2">
                                          <div class="form-group mb-0 position-relative">
                                              <input type="text" class="text search-input font-size-12"
                                                  placeholder="type here to search...">
                                              <a href="#" class="search-link"><i class="las la-search"></i></a>
                                          </div>
                                      </form>
                                  </div>
                              </li>
                              <li class="nav-item nav-icon dropdown caption-content">
                                  <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="./1.png" class="img-fluid rounded" alt="user">
                                  </a>
                                  <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <div class="card shadow-none m-0">
                                          <div class="card-body p-0 text-center">
                                              <div class="media-body profile-detail text-center">
                                                  <img src="./profile-bg.jpg" alt="profile-bg"
                                                      class="rounded-top img-fluid mb-4">
                                                  <img src="./1.png" alt="profile-img"
                                                      class="rounded profile-img img-fluid avatar-70">
                                              </div>
                                              <div class="p-3" >
                                                   <div class="mb-1">
                                                    <h5 class="mb-1 " id="usertitle" ></h5>
                                                    <h5 class="mb-1 " id="useremailcard" ></h5>
                                                </div>
                                                  
                                                  <p class="mb-0">계정 생성일: 2022/08/02</p>
                                                  <div class="d-flex align-items-center justify-content-center mt-3">
                                                      <a href="./userprofile" class="btn border mr-2">내 계정</a>
                                                      <a href="/sessionLogout" class="btn border">로그아웃</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
    
<div class="content-page">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">사용자 목록</h4>
                        <p class="mb-0">등록된 사용자 목록을 보여줍니다</p>
                    </div>
                    
                </div>
            </div>
        <!--Here starts the form-->

 <div class="tabledata">
   
    <div class="table-wrapper">
      <table class="table-users">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>User Id</th>
          <th>Action</th>
        </tr>
      </table>
    
    </div>
    </div>
    
    <!-- Add modaly -->
  

    <!-- Edit modaly -->
    <div class="edit-modaly modaly-wrapper">
      <div class="modaly">
        <div class="modaly-header"><h3 class="editheader"></h3></div>
        <div class="modaly-body">
     <div class="card-body">
                     <div class="">
                                        <form class="form admin-actions"  autocomplete="off"  data-toggle="validator" id='edit-product'>
                            <div class="row">
                                <div class="col-md-12">
                                </div>  
                                <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" id='userFirstname' placeholder="Enter First Name" data-errors="Please Enter First Name." name="userFirstname" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control"  id='userLastname'placeholder=" Enter Last Name" data-errors="Please Enter Last Name." name="userLastname" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>E-mail Address</label>
                                        <input readonly type="text" class="form-control admin-email" id='userEmail' placeholder="Enter E-mail Address" data-errors="Please E-mail Address." name="userEmail" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>User Id</label>
                                        <input readonly type="text" class="form-control" id='userID'placeholder="Enter Code" data-errors="Please product weight." name="userID" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                 
                              
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Profile Image</label>
                                        <input type="file" class="form-control image-file" style="height: fit-content;" name="pic" accept="image/*">
                                    </div>
                                </div>
                            </div>                            
                               <div class="modal-footer">
                                <button type="reset" class="btn btn-danger">Reset</button>
                                 <button type="button" class="btn btn-success" id="makeAdmin">Make an admin</button>
                               <button type="submit" id="edit" class="btn btn-primary">Edit User</button>
                                 <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>  -->
                     </div>
                   </form>
                 </div>
            <!-- Modal -->
             </div>
        </div>
      </div>
    </div>
  </div>



         <!--Here ends the form-->
        </div>
        <!-- Page end  -->
    </div>
    <!-- Modal Edit -->
    <div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popup text-left">
                        <div class="media align-items-top justify-content-between">                            
                            <h3 class="mb-3">Product</h3>
                            <div class="btnpr-cancel p-0" data-dismiss="modal"><i class="las la-times"></i></div>
                        </div>
                        <div class="content edit-notes">
                            <div class="card card-transparent card-block card-stretch event-note mb-0">
                                <div class="card-body px-0 bukmark">
                                    <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">                                                    
                                        <div class="quill-tool">
                                        </div>
                                    </div>
                                    <div id="quill-toolbar1">
                                        <p>Virtual Digital Marketing Course every week on Monday, Wednesday and Saturday.Virtual Digital Marketing Course every week on Monday</p>
                                    </div>
                                </div>
                                <div class="card-footer border-0">
                                    <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                        <div class="btnpr btnpr-primary mr-3" data-dismiss="modal">Cancel</div>
                                        <div class="btnpr btnpr-outline-primary" data-dismiss="modal">Save</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>



      <!--view modal for list users-->
     <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                           <div class="modal-content">
                              
                              <div class="modal-body">
                                 <div class="col-lg-12">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="treeproducttitle card-title"></h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">
                      Insert html here
                     </div>
                  </div>
               </div>
            </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                              </div>
                           </div>
                        </div>
                     </div>

      

                    
    <!-- Wrapper End-->
    <footer class="iq-footer">
            <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><a href="../backend/privacy-policy.html">Privacy Policy</a></li>
                                <li class="list-inline-item"><a href="../backend/terms-of-service.html">Terms of Use</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span class="mr-1"><script>document.write(new Date().getFullYear())</script>©</span> <a href="#" class="">CRM Dashbord</a>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

     
 <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-functions.js"></script>
<script  type="module">



        


// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAq2QjImxRXEtRHN-N6u2YEod-wUJMtI1s",
  authDomain: "projectcrm-f4e5f.firebaseapp.com",
  databaseURL: "https://projectcrm-f4e5f-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "projectcrm-f4e5f",
  storageBucket: "projectcrm-f4e5f.appspot.com",
  messagingSenderId: "404890912341",
  appId: "1:404890912341:web:5b129be76ccdfeba8c76dc",
  measurementId: "G-TL8J23TNZE"
};

// Initialize Firebase
// const app = firebase.initializeApp(firebaseConfig);
// const db = firebase.firestore()
//  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL);

// firebase.auth().onAuthStateChanged(user => {
//   console.log(user);
// })



// const profileEmail = document.getElementById('userEmail');
// const userProfileEmail = firebase.auth().currentUser.email;
// // profileEmail.innerHTML = userProfileEmail;
// console.log(userProfileEmail)

</script>
  <script  type="module" src="./userslist.js" defer></script>
   <script>feather.replace()</script>
    <!-- Backend Bundle JavaScript -->
    <script src="./backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="./table-treeview.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="./customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <!-- <script async src="./chart-custom.js"></script> -->
    
    <!-- app JavaScript -->
    <script src="./app.js"></script>
  </body>
</html>



