<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD with firestore</title>
  <link rel="stylesheet" href="./profile.css">
  <link rel="stylesheet" href="./navbar.css">
   <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js"></script>
   
    <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-auth.js" defer ></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-firestore.js"></script>
  
</head>
<body>
  <div class="container">
    <div class="navbar">
      <nav class="navbar">
            <ul class="navbar__menu">
              <li class="navbar__item">
                  <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="user"></i><span>Profile</span></a>        
              </li>
                <a href="/profile" class="navbar__link"><i data-feather="home"></i><span>Dashboard</span></a>
              </li>
              <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="users"></i><span>List of Users</span></a>        
              </li>
              <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="folder"></i><span>List of Products</span></a>        
              </li>
            
              <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="archive"></i><span>Resources</span></a>        
              </li>
              <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>        
              </li>
              <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>        
              </li>
            </ul>
</nav>
    </div>
    <div class="tabledata">
      <header class="menu">
      <h3>Welcome Back! </h3>
      <div class="profileitems">    
      <a href="/profile" class="menuitem__link" style="width: 100%;"><i data-feather="home"></i><span>Dashboard</span></a>
    
      <a href="/sessionLogout" id="logout" class="logout">Logout</a>
   
      </div>
    </header>
    <div class="charts">
     <div class="barchart">
</div>
 <div class="radarchart">
</div>
    </div>
   
      <header class="header">
      <h3>List of Recycled Products</h3>
      <!-- <a href="/sessionLogout" class="logout">Logout</a> -->
    </header>
    <div class="table-wrapper">
      <table class="table-users">
        <tr>
          <th>Product Name</th>
          <th>Product Material</th>
          <th>Product Quantity</th>
          <th>Product Matter</th>
          <th>Action</th>
        </tr>
      </table>
      <button class="btn btn-add">Add Product</button>
    </div>
    </div>
    
    <!-- Add Modal -->
    <div class="add-modal modal-wrapper">
      <div class="modal">
        <div class="modal-header"><h3>Add New Product</h3></div>
        <div class="modal-body">
          <form class="form" autocomplete="off">
            <input type="text" name="productName" placeholder="Product Name">
            <input type="text" name="productMaterial" placeholder="Product Material">
            <input type="number" name="productQuantity" placeholder="Product Quantity">
            <input type="text" name="productMatter" placeholder="Product Matter">
            <button class="btn btn-modal">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="edit-modal modal-wrapper">
      <div class="modal">
        <div class="modal-header"><h3>Edit Existing Product</h3></div>
        <div class="modal-body">
          <form class="form" autocomplete="off">
            <input type="text" name="productName" placeholder="Product Name">
            <input type="text" name="productMaterial" placeholder="Product Material">
            <input type="number" name="productQuantity" placeholder="Product Quantity">
            <input type="text" name="productMatter" placeholder="Product Matter">
            <button class="btn btn-modal">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
 
 <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>


  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script type="module">



        


// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAq2QjImxRXEtRHN-N6u2YEod-wUJMtI1s",
  authDomain: "projectcrm-f4e5f.firebaseapp.com",
  databaseURL: "https://projectcrm-f4e5f-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "projectcrm-f4e5f",
  storageBucket: "projectcrm-f4e5f.appspot.com",
  messagingSenderId: "404890912341",
  appId: "1:404890912341:web:5b129be76ccdfeba8c76dc",
  measurementId: "G-TL8J23TNZE"
};

// Initialize Firebase
const app = firebase.initializeApp(firebaseConfig);
const db = firebase.firestore(app)
 firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL);

firebase.auth().onAuthStateChanged(user => {
  console.log(user);
})

</script>
  <script type="module" src="./profile.js"></script>
   <script>feather.replace()</script>

    <!-- Backend Bundle JavaScript -->
    <script src="./backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <!-- <script src="./table-treeview.js"></script> -->
    
    <!-- Chart Custom JavaScript -->
    <script src="./customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="./chart-custom.js"></script>
    
    <!-- app JavaScript -->
    <script src="./app.js"></script>
</body>
</html>