<html lang="en" style="overflow-y: hidden;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Growup CSS -->
    <link rel="stylesheet" href="./index.css">
    <!-- AOS Animate -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- BOX Icons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <!-- ICON -->
     <link rel="stylesheet" href="./remixicon.css">
    <link rel="shortcut icon" href="./ci_favicon.jpg" type="image/x-icon">
    <title>KITECH</title>


<style>
              @media only screen and (min-width: 86em) {
                  
  .containerMargins {
    margin-bottom: -3%;
  }
}
         @media only screen and (min-width: 100em) {
  .containerMargins {
    margin-bottom: 9%;
  }
} 
</style>
</head>

<body style="overflow-x: hidden;" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="./ci_logo.jpg" alt="brand">
                <!-- <span>KITECH</span> -->
            </a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bx bx-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="
    gap: 5%;
">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" style="font-size: 1.2em;font-weight:900;" aria-current="page" href="#">통합시스템 소개</a>
                    <a class="nav-link" style="font-size: 1.2em;font-weight:900;" href="#">센터소개</a>
                    <a class="nav-link" style="font-size: 1.2em;font-weight:900;" href="#">공지사항</a>
                    <a class="nav-link" style="font-size: 1.2em;font-weight:900;" href="#">자주 묻는 질문</a>
                

                </div>
                <a href="./login" class="btn btn-primary shadow-none">등록회원 로그인</a>
            </div>
        </div>
    </nav>

<div class=" col-md-12" style="
    height: 100%;
    display: flex;
    flex-direction:row;
    width: 100%;
    padding-right: 4em;
    margin-top: 3em;
">
    <div style="display: flex;justify-content: flex-start;width: 70%;align-items: center;flex-direction: column;">
        <div class="col-md-6" style="
    width: inherit;
">
            <div class="copy aos-init aos-animate" data-aos-duration="3000" data-aos="fade-up">
                        <div class="text-label" style="
    font-size: 1.5em;
">
                          친환경 제품 개발 및 환경 규제 대응을 위한
                        </div>
                        <div class="text-hero-bold" style="width: fit-content;font-size: 3.2em;line-height: 100%;">
                          친환경 제품 자원효율성 <br>  평가 지원 통합 시스템
                        </div>
                        <div class="text-hero-regular" style="margin: 0 0 30px 0;font-size: 1.5rem;">
                            Material Efficiency Assessment Integrated System </div>
                        <div class="cta">
                        
                            <!-- <a href="#" class="btn btn-secondary shadow-none ms-3">See </a> -->
                        </div>
                    </div>
        </div>
        <label for="" style="font-weight: 700; font-size: 2em; text-align: left; margin-bottom: 5%;">공지사항</label>
        <div class="col-md-6" style="width: 100%;">
          <div class="row" style="display: flex; flex-direction:row; justify-content:center">
    <div class="col-md-3" style="width: 25%;">
  <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=1500&amp;url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div style="margin-top: 25px;     width: 100%;">
        <h1 style="font-size:15px;">자원효율성 제품평가 통합시스템에 오신 것을 환영합니다
</h1>
        <p>자원효율성 제품평가 통합 웹시스템입니다. 현재 시스템 점검중입니다.
</p>
        <div class="date"> 2022/11/09
</div>
        <!-- <div class="tags">
          <div class="tag">Lorem</div>
        </div> -->
      </div>
    </a>
  </div>
    </div>
     <div class="col-md-3" style="width: 25%;">
         <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=1500&amp;url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
      <div style="margin-top: 25px;     width: 100%;">
        <h1 style="font-size:15px;">Test</h1>
        <p>Test  게시글입니다</p>
        <div class="date">11/10/2022</div>
        <!-- <div class="tags">
          <div class="tag">Lorem</div>
        </div> -->
      </div>
    </a>
  </div>
    </div>
     <div class="col-md-3" style="width: 25%;">
          <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=1500&amp;url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
      <div style="margin-top: 25px;     width: 100%;">
        <h1 style="font-size:15px;">Test</h1>
        <p>Test  게시글입니다</p>
        <div class="date">11/10/2022</div>
        <!-- <div class="tags">
          <div class="tag">Lorem</div>
        </div> -->
      </div>
    </a>
  </div>
    </div>
</div>
        </div>
    </div>
    <div style="display: flex;width: 40%;align-items: center;justify-content: center;align-content: flex-start;" class="row col-md-6 containerMargins">
        <div class="" style="max-height: 35%;width: 100%;height: 53%;">
            <div class="col-md-6 aos-init aos-animate" data-aos-duration="3000" style="
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
" data-aos="fade-up">
                    <img src="/header.png" class="" alt="img" style="
    width: 270px;
    height: auto;
">
                </div>
        </div>
              <label for="" style="font-weight: 700; font-size: 2em; text-align: center; margin-bottom: 5%;">자주 묻는 질문
            </label>
          <div class="" >
        
          <div class="container" style="width: 100%;">
    
    <div class="row"
>
      <div class="col-md-10 " style="margin: 0;padding: 0;">
        <div class="accordion" id="accordionRental">
          <div class="accordion-item mb-3 ">
            <h5 class="accordion-header" id="headingOne">
              <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
               자원효율성 제품평가가 무엇인가요 ?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
              <div class="accordion-body text-sm opacity-8">
              자원효율성 제품평가란 제조 상품의 효율적인
              자원 환경 관리와 추적을 위해 개발된 평가 모델로...
              </div>
            </div>
          </div>
           
          <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingTwo">
              <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               회원가입은 어떻게 하나요 ? 
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental" style="">
              <div class="accordion-body text-sm opacity-8">
                            상단 로그인 버튼을 클릭해 인적사항을 넣어
                            회원가입하시면 관리자가 24 시간 내에...
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h5 class="accordion-header" id="headingThree">
              <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        평가결과는 어떻게 확인할 수 있나요 ?
                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0"></i>
                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0"></i>
              </button>
            </h5>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental" style="">
              <div class="accordion-body text-sm opacity-8">
                제품 신규 등록후 부품사의 부품 정보를
                등록하시면 평가 결과가 자동으로 산출되어...
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
        </div>
    </div>

</div>
  
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        AOS.init();
    </script>


  
</body></html>